<%= stylesheet_link_tag params[:controller] %>
<div class="color-div"></div>
<div class="menu saldos"><%= render 'layouts/saldos' %></div>
<hr>
<hr>
<div class="container"><%= render 'layouts/operations' %></div>
<hr>
<div class="container"><%= render 'layouts/configs' %></div>
<hr>
<div class="container"><%= render 'layouts/help' %></div>