<div align="center" class="ticker_index row no-padding">
    <div class=" col-md-12 col-xs-12 ticker_margin no-padding">
        <div class="row collumn-block">
            <% MOEDAS_ATIVAS.each do |m| %>
            <% if m != "BRL" and m != "BTC" %>
            <div class="col-md-3 col-xs-3 col-lg-2 ticker_block">
                    <div class="row" class="ticker-list">
                        <div class="col-md-12 col-xs-12"><h4 class="white no-margin"><%= MOEDAS_ATIVAS_NAMES[m] %> (<%= m %>)</h4></div>
                    </div>
                    <% EXCHANGE_PARES.each do |pair| %>
                        <% compare = pair.tr(" ","") %>
                        <% if compare.split("/")[0] == m %>
                        <% price_cent = price_percentage(compare)%>
                            <div class="row" data-pair="<%= compare.tr("/","_") %>">
                                <div class="col-md-6 col-xs-5 white"><span title="<%= pair %> Cotação atual"><b class="ticker_index_price_<%= compare.tr("/","_") %> ticker-price"><%= last_price(compare,nil,nil)%></b></span></div>
                                <div class="col-md-3 col-xs-3 white"><b><%= compare.split("/")[1] %></b></div>
                                <div class="col-md-3 col-xs-4"><span title="<%= pair %> Variação (24h)" class="<%= color_type_percentage(price_cent.tr(",",".")) %> ticker_percentage_<%= pair.tr("/","_").tr(" ","") %>"><%= price_cent %>%</span></div>
                            </div>
                        <% end %>
                    <% end %>
            </div>
            <% end %>
        <% end %>
        </div>
    </div>
</div>