<div class="well">
<%= label_tag :operation, "Desejo:" %>
<div class="btn-group" data-toggle="buttons">
  <label data-type="buy" class="btn btn-primary active buttonType buttonSmall">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Comprar
  </label>
  <label data-type="sell" class="btn btn-primary buttonType buttonSmall">
    <input type="radio"  name="options" id="option2" autocomplete="off"> Vender
  </label>
</div>

<%= form_tag '/exchange/instant', remote: true, class: "exchange_form_element" %>
<%= hidden_field_tag :type, "buy", class: "hidden_type_order" %>
<div class="form-group">
    <div class="row">
        <div class="col-md-10">
            <%= label_tag :currency_base, "Com o par:" %>
            <%= select_tag :currency_base, options_for_select(EXCHANGE_PARES), :prompt => "Selecione o par" ,class: "pair-control form-control" %>
        </div>
    </div>
</div>
<div class="form-group margin-exchange">
    <div class="row">
        <div class="col-md-10">
            <h4><%= label_tag :amount, "Quantidade" %></h4>
            <%= text_field_tag :amount, nil, placeholder: "0.00000000", title: 'Utilize "." (ponto) como separador das casas decimais' , required: true ,class: "amount_input form-control" %>
        </div>
    </div>
</div>
<div class="form-group">
    <h6><k class="valor_total">* Preço atual: </h6>
    <div class="row">
        <div class="col-md-10">
            <%= text_field_tag :instant_price, nil, placeholder: "0.00000000", title: 'Este é o preço atual do par selecionado. O preço é definido automaticamente pelos usuários, a CPTCAMBIO não tem nenhum controle sobre o valor mostrado.' , required: true ,class: "actual_price_form form-control", disabled: true %></k>
        </div>
    </div>
</div>
<div class="form-group">
    <h6><k class="receber">Receber:</k> <b class="receber_instant"></b></h6>
</div>
<div class="form-group">
    <h6><k class="valor_total">Valor total:</k> <b class="total_instant"></b></h6>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-8">
            <%= submit_tag "Submeter", class: "form-control withdrawal_button instant_submit" %>
        </div>
    </div>
</div>
<h6>* Devido a volatilidade do mercado, o preço pode variar muito em pequenos intervalos de tempo.</h6>
</form>

</div>

<script>
$(".buttonType").click(function(){
    $('#type').prop("value",$(this).data("type"))
    calc()
})
$( ".amount_input" ).change(function() {
    calc() 
});

function calc(){
    console.log("cálculo instant")
    elemento = $( ".pair-control" )
    if (elemento.find(":selected").text() == "Selecione o par"){
        alert("Escolha um par para negociar!")
        return
    } else {
        a = elemento.find(":selected").text().replace(/ /,'')
        b = a.replace(/ /,'')
        $('.actual_price_form').data("pair",b)
        if ($('#type').prop("value") == "buy"){
          tipo = "buy"
        } else {
          tipo = "sell"
        };
        
        $.ajax({
        url: "instant_buy_price/" + b + '/' + tipo,
        cache: false,
        type: "GET",
        success: function(response) {
            $(".actual_price_form").val(response);
            price = response
            a = elemento.find(":selected").text().replace(/ /,'')
            b = a.replace(/ /,'')
            console.log(price)
            if (price == "Não disponível."){
              $('.instant_submit').prop("disabled",true)
            }else {
              $('.instant_submit').prop("disabled",false)
            }
            element = $(".amount_input")
            element.val((element.val()).replace(/^\./, ""));
            element.val((element.val()).replace(',','.'));
            element.val((element.val()).replace(/[^0-9\,.]/g,''));
            quantity = parseFloat($( ".amount_input" ).val().replace(",","."));
            price = parseFloat($(".actual_price_form").val().replace(",",".").split(" ")[0]);
            pair = b.split("/");
            currency1 = pair[0];
            currency2 = pair[1];
            
            if ($('#type').prop("value") == "buy"){
              discount = (quantity * 0.005).toFixed(8);
              receive = (quantity - discount).toFixed(8);
              total = (price * quantity).toFixed(8);
              
              $(".receber_instant").html(receive + " " + currency1);
              $(".total_instant").html(total + " " + currency2);
            }else{
              total = (price * quantity).toFixed(8);
              discount = (total * 0.005).toFixed(8);
              receive = (total - discount).toFixed(8);
              
              $(".receber_instant").html(receive + " " + currency2);
              $(".total_instant").html(total + " " + currency2);
            }
        },
        error: function(xhr) {
            
        }});
    }
}

$( ".pair-control" ).change(function() {
    calc()
});
</script>