<br>
<div class="btn-group" data-toggle="buttons">
  <label data-type="buy" class="btn btn-primary active buttonType">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Comprar
  </label>
  <label data-type="sell" class="btn btn-primary buttonType">
    <input type="radio"  name="options" id="option2" autocomplete="off"> Vender
  </label>
</div>

<%= form_tag nil, remote: true, class: "exchange_form_element" %>
<%= hidden_field_tag :type, "buy", class: "hidden_type_order" %>
<div class="form-group margin-exchange">
    <div class="row">
        <div class="col-md-10">
            <h4><%= label_tag :amount, "Quantidade" %></h4>
            <%= text_field_tag :amount, nil, placeholder: "0.00000000 #{session[:currency1]}", title: 'Utilize "." (ponto) como separador das casas decimais' , required: true ,class: "amount_input form-control" %>
        </div>
    </div>
</div>
<div class="form-group">
    <h4><%= label_tag :price, "Preço" %></h4>
    <div class="row">
        <div class="col-md-10">
            <%= text_field_tag :price, nil, placeholder: "0.00000000 #{session[:currency2]}", required: true, class: "price_input form-control" %>
        </div>
        <div class="col-md-1 ok-icon">
            
        </div>
    </div>
</div>
<div class="form-group">
    <h6>Comissão (0,5%): <b class="comission"></b></h6>
</div>
<div class="form-group">
    <h6><k class="valor_total">Valor total:</k> <b class="total"></b></h6>
</div>
<div class="form-group">
    <h6><k class="receber">Receber:</k> <b class="receive"></b></h6>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-8">
            <%= submit_tag "Registrar ordem", class: "form-control withdrawal_button" %>
        </div>
    </div>
</div>
</form>


<script>
$(".buttonType").click(function(){
    $('#type').prop("value",$(this).data("type"))
    element = $(".price_input")
    calc(element)
})
$( ".amount_input" ).keyup(function() {
    element = $(".amount_input")
    calc(element) 
});

function calc(element){
    
  element.val((element.val()).replace(/^\./, ""));
  element.val((element.val()).replace(',','.'));
  element.val((element.val()).replace(/[^0-9\,.]/g,''));
  quantity = parseFloat($( ".amount_input" ).val().replace(",","."));
  price = parseFloat($(".price_input").val().replace(",","."));
  pair = $("#inicial").data("pair-option").replace(/ /g, '').split("/");
  currency1 = pair[0];
  currency2 = pair[1];
  
  if ($('#type').prop("value") == "buy"){
      discount = (quantity * 0.005).toFixed(8);
      receive = (quantity - discount).toFixed(8);
      total = (price * quantity).toFixed(8);
      
      $(".comission").html(discount + " " + currency1);
      $(".receive").html(receive + " " + currency1);
      $(".total").html(total + " " + currency2);
  }else{
      total = (price * quantity).toFixed(8);
      discount = (total * 0.005).toFixed(8);
      receive = (total - discount).toFixed(8);
      
      $(".comission").html(discount + " " + currency2);
      $(".receive").html(receive + " " + currency2);
      $(".total").html(total + " " + currency2);
  }
  

}

$( ".price_input" ).keyup(function() {
    element = $(".price_input")
    calc(element)
});
</script>