<% if !session[:currency1].nil? %>
<div class="col-md-4 col-xs-4 buy-table non-pade-right table-responsive">
    <table class="table table-hover table-striped buy_table_<%= "#{session[:currency1]}_#{session[:currency2]}" %>">
        <tr>
            <th colspan="2" class="text-center">Ordens de compra</th>
        </tr>
        <tr class="active">
            <th class="small_lines">
                Volume
            </th>
            <th class="small_lines">
                Preço
            </th>
        </tr>
        <% Exchangeorder.where("par = :str_par AND tipo = :tupe AND status = :stt", {str_par: "#{session[:currency1]}/#{session[:currency2]}", tupe: "buy", stt: "open"}).limit(15).order(price: :desc).each do |m| %>
        <tr>
            <td class="small_lines">
                <%= m.amount %> <%= session[:currency1] %>
            </td>
            <td class="small_lines">
                <%= m.price %> <%= session[:currency2] %>
            </td>
        </tr>
        <% end %>
    </table>
</div>
<div class="col-md-4 col-xs-4 sell-table non-pade-right table-responsive">
    <table class="table table-hover table-striped sell_table_<%= "#{session[:currency1]}_#{session[:currency2]}" %>">
        <tr>
            <th colspan="2" class="text-center">Ordens de Venda</th>
        </tr>
        <tr class="active">
            <th class="small_lines">
                Preço
            </th>
            <th class="small_lines">
                Volume
            </th>
        </tr>
        <% Exchangeorder.where("par = :str_par AND tipo = :tupe AND status = :stt", {str_par: "#{session[:currency1]}/#{session[:currency2]}", tupe: "sell", stt: "open"}).limit(15).order(price: :asc).each do |m| %>
            <tr>
                <td class="small_lines">
                    <%= m.price %> <%= session[:currency2] %>
                </td>
                <td class="small_lines">
                    <%= m.amount %> <%= session[:currency1] %>
                </td>
            </tr>
            <% end %>
    </table>
</div>
<% end %>