<div class="col-md-12 col-xs-12 complete-table table-responsive">
        <table class="table  <%= "#{session[:currency1]}_#{session[:currency2]}" %>_executed">
        <tr>
            <th colspan="2" class="text-center">Ordens executadas <%= "(#{session[:currency1]}/#{session[:currency2]})" %></th>
        </tr>
        <tr class="">
            <th class="small_lines">
                Preço
            </th>
            <th class="small_lines">
                Volume
            </th>
        </tr>
        <% Exchangeorder.where("par = :str_par AND status = :stt", {str_par: "#{session[:currency1]}/#{session[:currency2]}", stt: "executada"}).order("updated_at DESC").limit(20).each do |m| %>
        <tr>
            <td class="small_lines">
                <%= m.price %> <%= session[:currency2] %>
            </td>
            <td class="small_lines">
                <%= m.amount %> <%= session[:currency1] %>
            </td>
        </tr>
        <% end %>
    </table>
    </div>