<%= form_for @user do |f| %>
  <%= render 'shared/errors', object: @user %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, value: @user.email, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username,  value: @user.username, class: 'form-control' %>
  </div>
  
  
  <div class="form-group">
    <%= f.label :birth %>
    <%= f.date_field :birth, value: @user.birth, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :document %>
    <%= f.text_field :document, value: @user.document, class: 'form-control' %>
  </div>
  <div class="form-group">
    Insira sua senha para confirmar modificações:
  </div>
  <div class="form-group">
    <%= f.label :password, "Senha" %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirme a senha" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <%= f.submit 'Submeter', class: 'btn btn-primary btn-lg' %>
<% end %>