<%= form_tag "/trader/newOrder", remote: true, class: "exchange_form_element", :id => "sell_form" %>
<%= hidden_field_tag :type, "sell", class: "hidden_type_order" %>
<%= hidden_field_tag :pair, "#{session[:currency1]}/#{session[:currency2]}", class: "hidden_type_order" %>
<div class="row white">
    <div class="col-md-12 col-xs-12">
        <div class="form-group margin-exchange">
            <div class="row">
                <div class="col-md-10 row">
                    <div class="col-md-4 col-xs-4">
                        <h5 class="white"><%= label_tag :amount, "Quantidade" %></h5>
                    </div>
                    <div class="col-md-8 col-xs-8">
                        
                        <%= text_field_tag :amount, nil, placeholder: "0.00000000 #{session[:currency1]}", title: 'Utilize "." (ponto) como separador das casas decimais' , required: true ,class: "amount_input_sell form-control", 'data-type' => "sell", "data-amount_quantity" => "amount_input_sell", "data-price_quantity" => "price_input_sell" %>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-10 row">
                    <div class="col-md-4 col-xs-4">
                        <h5 class="white"><%= label_tag :price, "Preço" %></h5>
                    </div>
                    <div class="col-md-8 col-xs-8">
                        <%= text_field_tag :price, nil, placeholder: "0.00000000 #{session[:currency2]}", required: true, class: "price_input_sell form-control", 'data-type' => "sell", "data-amount_quantity" => "amount_input_sell", "data-price_quantity" => "price_input_sell" %>
                    </div>
                </div>
                <div class="col-md-1 ok-icon">
                    
                </div>
            </div>
        </div>
        <div class="form-group row">
             <div class="col-md-3 col-xs-3">
                <h6><k class="receber white">Comissão (<%= (1 - BigDecimal(ENV["EXCHANGE_TAX"],4)) %>%):</k> </h6>
            </div>
            <div class="col-md-8 col-xs-8">
                <h6> <b class="white comission_sell"></b></h6>
            </div>
        </div>
        <div class="form-group row">
             <div class="col-md-3 col-xs-3">
                <h6 class="white"><k class="valor_total">Valor total:</k></h6>
            </div>
            <div class="col-md-8 col-xs-8">
                <h6>  <b class="white total_sell"></b></h6>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3 col-xs-3">
                <h6><k class="white receber">Receber:</k>
            </div>
            <div class="col-md-8 col-xs-8">
               <h6> <b class="white receive_sell"></b></h6>
            </div>
             
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    <%= submit_tag "Vender", class: "form-control", :id => "sell_form_btn" %>
                </div>
            </div>
        </div>
    </div>
</div>
</form>