<h2>Depósito bancário.</h2>
<div class="well well-lg small-size">Utilize esta sessão para solicitar depósitos.<br> <font class="red"><b>ATENÇÃO:</b> Transferências devem ser originadas de contas com a <b>sua titularidade</b>.</font> </div>
<div class="row">
    <div class="col-md-4 well">
        <fieldset>
            <legend>Nova solicitação de Depósito</legend>
            <%= form_tag '/deposit/new', remote: true %>
            <div class="form-group">
                <%= label_tag :amount, "Quantidade (R$) *" %>
                <%= text_field_tag :amount, nil, placeholder: "00,00 BRL", class: 'amount-input form-control', required: true %>
            </div>
            <div class="form-group">
                <%= label_tag :method, "Método de depósito" %>
                <%= select_tag :method, options_for_select(DEPOSIT_BRL_METHODS), placeholder: "00,00 BRL", :prompt => "Selecione um método", class: 'form-control', required: true %>
            </div>
            <div class="form-group">
                <%= label_tag :comission, "Comissão (1%)" %>
                <%= text_field_tag :amount, nil, class: 'comission-input form-control', disabled: true %>
            </div>
            
            <div class="form-group">
                <%= label_tag :receive, "Valor a receber:" %>
                <%= text_field_tag :receive, nil, class: 'receive-input form-control', disabled: true %>
            </div>
            
            
            <%= submit_tag "Solicitar", class: 'btn btn-primary btn-lg' %>
            <div class="row">
                <div class="col-md-1 col-xs-1">*</div><div class="col-md-11 col-xs-8"><p><h7> Solicitar valores quebrados (R$ 100,13), por exemplo, agiliza o processo de verificação.</h7></p></div>
            </div>
            
        </fieldset>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 well">
        <fieldset>
            <legend>Depósitos ativos</legend>
            <table class="table table-striped">
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Valor solicitado</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Verificar</th>
                </tr>
                <% current_user.payment.where("status = :stt AND network = :net AND label = :lab",{stt: "incomplete", net: "BRL", lab: "deposit_operation"}).each do |k|%>
                <tr class="warning">
                    <td class="text-center"><%= k.id %></td>
                    <td class="text-center"><%= k.volume %> <%= k.network %></td>
                    <td class="text-center"><%= exchange_label(k.label) %></td>
                    <td class="text-center"><%= button_tag("Verificar", type: "button", class: "btn btn-primary button_small", data: {toggle: "modal", target:"#deposit_details_modal", id: k.id}) %></td>
                </tr>
                <% end %>
            </table>
        </fieldset>
    </div>
</div>

<!-- Modal -->
<div id="deposit_details_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Verificar depósito.</h2>
      </div>
      <div class="modal-body">
        <p>Para que seu depósito seja efetivado, você precisa fazer o upload da foto / impressão digital do seu comprovante do depósito, assim, nós podemos verificar e validar o seu saldo.<br>
        Utilize o formulário abaixo para prosseguir com a validação.<br>
        <font class="red"><b>ATENÇÃO:</b> Seu comprovante deve conter sua assinatura e o número do seu CPF.</font></p>
        <font class="form-content"></font>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>

  </div>
</div>






<script>
    
    $(".button_small").click(function(){
        $(".form-content").html('<i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>');
        id = $(this).data("id");
        $.ajax({
        url: ("/deposit/verify/" + id),
        cache: false,
        type: "GET",
        success: function(response) {
            
        },
        error: function(xhr) {
            
        }
        })
    })


    $( ".amount-input" ).keyup(function() {
    element = $(".amount-input")
    element.val((element.val()).replace(/[,]+/,'.'));
    element.val((element.val()).replace(/[.]+/,"."));
    element.val((element.val()).replace(/[^0-9\,.]/g,''));
    string = $(this).val();
    points = 0
    formated = ""
    for (var i = 0, len = string.length; i < len; i++) {
      if (string.charAt(i) == "."){
          points = points + 1
      }
      if (points <= 1){
        if ((string.charAt(i) != ".") && (points == 1)){
            if (formated.split(".")[1].length >= 2){
                $(this).val(formated)   
            }else{
                formated += string.charAt(i)
            }
        } else {
         formated += string.charAt(i)   
        }
      } else{
        $(this).val(formated)
      }
      
    }
    brl() 
});

function brl(){
    float = parseFloat($('.amount-input').val())
    tax = (float * 0.01).toFixed(2)
    total = (float - tax).toFixed(2)
    
    $(".comission-input").val(`${tax} R$`)
    $(".receive-input").val(`${total} R$`)
    
}
</script>