<h2>Extrato geral</h2>
<div class="well well-lg small-size">Consulte abaixo o extrato da sua conta. </div>
<div class="row">
    <div class="col-md-11  well">
        <%= render 'layouts/all_cur_navbar' %>
        <div class="well row">
            <%= form_tag nil, remote: true %>
            <div class="form-group col-md-8 col-xs-8">
                <h3>Como funciona?</h3>
                <div class="row">
                    <div class="col-md-6 col-xs-9 well padding-dep">
                        <ul class="list-group">
                            <li class="list-item">Selecione a moeda acima</li>
                            <li class="list-item">Aplique filtros rápidos</li>
                            <li class="list-item">Escolha a data de início / fim</li>
                            <li class="list-item">Clique no item para detalhes</li>
                        </ul>
                    </div>
                </div>
                
                <div class="row">
                <div class="col-md-4 col-xs-4"><button type="button" data-date-type="month" class="deposit_date_button btn btn-info">Último mês</button></div>
                <div class="col-md-4 col-xs-4"><button type="button" data-date-type="week" class="deposit_date_button btn btn-info">Última semana</button></div>
                </div>
            </div>
            <div class="form-group col-md-4 col-xs-4">
                <%= label_tag :begin, "Início" %>
                <%= date_field_tag :begin,nil, class: "form-control", max: Date.today.to_s %>
                <%= label_tag :end, "Fim" %>
                <%= date_field_tag :end,nil, class: "form-control", max: Date.today.to_s %><br>
                <%= submit_tag "Ir", class: "deposit_submit btn btn-secondary" %>
                <%= hidden_field_tag :currency, "ALL", class: "hidden_cur_op" %>
            </div>
            </form>
        </div>
        <div class="table-responsive result_lines">
        <%= paginate @pays, left: 1, right: 3, remote: true %>
        <table width="90%" class="table table-striped">
            <tr>
                <th>Status</th>
                <th>Tipo</th>
                <th>Volume (bruto)</th>
                <th>ID de operação</th>
            </tr>
            <% @pays.each do |k| %>
            <tr data-toggle="modal" data-target="#payModal" class="pointer hover-link" data-payment-detail="<%= k.id %>">
            
                <td class="<%= render partial: "depositHistoryClasses", locals: {status: exchange_label(k.status)} %>"><%= exchange_label(k.status.capitalize) %></td>
                <td class="<%= render partial: "depositHistoryClasses", locals: {status: exchange_label(k.status)} %>"><%= exchange_label(k.label.capitalize) %></td>
                <td class="<%= render partial: "depositHistoryClasses", locals: {status: exchange_label(k.status)} %>"><%= (BigDecimal(k.volume,8)).to_s.split('.')[0] %>.<%= (BigDecimal(k.volume,8)).to_s.split('.')[1].first(8) %> <%= k.network %></td>
                <td class="<%= render partial: "depositHistoryClasses", locals: {status: exchange_label(k.status)} %>"><%= k.id %></td>
            
            </tr>
            <% end %>
        </table>
        
        <!-- Modal -->
            <div id="payModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Detalhes da operação: <b class="operation_id"></b></h4>
                  </div>
                  <div class="modal-body">
                    <i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
        
    </div>

</div>