<h2>Suas Ordens</h2>
<div class="col-md-11  well">
        <ul class="nav nav-tabs">
    <li class="active pointer open_orders"><a data-myOrders-menu="myOrders" class="padding-right-left-wallet">Todos </a></li>
    <% EXCHANGE_PARES.each do |par| %>
        <li data-myorders="myOrders/<%= (par.tr(" ","")).tr("/","_") %>" class="pointer open_orders"><a class="padding-right-left-wallet"><%= par %></a></li>
    <% end %>
</ul>
        <div class="well row">
            <div class="table-responsive result_lines col-md-9 col-xs-6">
          

            <table width="90%" class="table table-striped">
                <tbody id="myOrdersTable">
                <tr>
                    <th>Par</th>
                    <th>Tipo</th>
                    <th>Volume (bruto)</th>
                    <th>Excluir ordem</th>
                </tr>
                <%= paginate @orders, left: 1, right: 3, remote: true %>
                <% @orders.each do |order| %>
                <tr id="<%= order.id %>">
                    <td><%= order.par %></td>
                    <td><%= order.tipo %></td>
                    <td><%= order.amount %></td>
                    <td><button type="button" data-order-id="<%= order.id %>" class="btn btn-danger cancel-order"><i class="fa fa-ban" aria-hidden="true"></i></button></td>
                </tr>
                <% end %>
            </tbody></table>
            
                
            </div>
            </form>
        </div>
    </div>
    
    <script>
    $('.cancel-order').click(function (){
        r = confirm("Deseja cancelar esta ordem?");
        if (r==true)
          {
          $.ajax({
            url: ("/exchange/order/cancel/" + $(this).data("order-id")),
            cache: false,
            type: "POST",
            success: function(response) {
                
            },
            error: function(xhr) {
                
            }
            })
          }
        
        
    })
    
</script>
<%= javascript_include_tag "myOrders" %>