<div class="row">
    <div class="col-md-4">
        <h2>Overview</h2>
        <p><div class="well well-lg small-font">Informações gerais sobre sua conta. <font color="red"><br>Atenção! Nossa plataforma ainda está em desenvolvimento. Aguardem maiores informações!</font></div></p>
    </div>
    <div class="col-md-7">
        <fieldset>
	      <legend>Ultimas operações:</legend>
        <%= render 'dashboard/cotacoes_slide'%>
        </fieldset>
    </div>
</div>
<br>
    <div class="row">
        <div class="col-md-3">
            <fieldset>
	         <legend>Operação instantânea:</legend>
                <%= render 'exchange/instant_buy' %>
            </fieldset>
        </div>
        <div class="col-md-5 ">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <fieldset>
	                 <legend>Saques / depósitos ativos:</legend>
                    <div class="well well-lg">
                        <div class="payments_details">
                            <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
                        </div>
                    </div>
                    </fieldset>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <fieldset>
	                 <legend>Suas Carteiras:</legend>
                    <%= render 'dashboard/currency_overview' %>
                    <div align="center" class="well well-lg wallets_overview">
                         <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
                    </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <fieldset>
                <legend>Informações de login</legend>
              <div class="well well-lg">
                <ul>
                  <li>Qtd. de logins: <%= current_user.login_count %></li>
                  <li>Última requisição: <%= current_user.last_request_at %></li>
                  <li>Hora do login atual: <%= current_user.current_login_at %></li>
                  <li>Último login: <%= current_user.last_login_at %></li>
                  <li>IP atual: <%= current_user.current_login_ip %></li>
                  <li>IP do último Login: <%= current_user.last_login_ip %></li>
                </ul>
              </div>
              </fieldset>
              <fieldset>
                <legend>Comissões</legend>
              <div class="well well-lg">
                Operações (saque, depósito): 1%<br>
                Ordens (negociações): 0,5%
              </div>
              </fieldset>
        </div>
    </div>
    
    
    <script>
        $( document ).ready(function() {
            $.get('/dashboard/overview/wallets/BTC');
            setTimeout(function(){
                $.get('payments_details');
            }, 1000);
            
        });
    </script>