<div class="table-responsive result_lines">
        <table width="90%" class="table table-striped">
            <tr>
                <th>Status</th>
                <th>Tipo</th>
                <th>Volume (bruto)</th>
            </tr>
        <% if !@payments.nil? %>
            <% @payments.each do |k| %>
            <tr data-toggle="modal" data-target="#payModal" class="pointer hover-link" data-payment-detail="<%= k.id %>">
            
                <td class="<% if k.status == "complete" %>success<% elsif k.status == "incomplete" %>warning<% elsif k.status == "canceled" %>danger<% end %>"><%= exchange_label(k.status.capitalize) %></td>
                <td class="<% if k.status == "complete" %>success<% elsif k.status == "incomplete" %>warning<% elsif k.status == "canceled" %>danger<% end %>"><%= exchange_label(k.label.capitalize) %> </td>
                <td class="<% if k.status == "complete" %>success<% elsif k.status == "incomplete" %>warning<% elsif k.status == "canceled" %>danger<% end %>"><%= k.volume %> <%= k.network %></td>
            
            </tr>
            <% end %>
        </table>
        <%= paginate @payments, left: 1, right: 3, remote: true %>
        <!-- Modal -->
            <div id="payModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Detalhes da operação: <b class="operation_id"></b></h4>
                  </div>
                  <div class="modal-body">
                    <i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
<% end %>

