<% if @payment.label.capitalize == "Saque" %>

<%= render 'layouts/render_withdrawal_details' %>

<% elsif @payment.label.split("_")[0] == "Exchange" %>
<% if exchange_label(@payment.status).downcase != "abertura de ordem" %>
<% debit_credit = "Debitada"%>
<% else %>
<% debit_credit = "Creditada"%>
<% end %>
Tipo: <b><%= exchange_label(@payment.label) %></b><br>
Quantidade <%= debit_credit %>: <b><%= (BigDecimal(@payment.volume,8)).to_s.split('.')[0] %>.<%= (BigDecimal(@payment.volume,8)).to_s.split('.')[1].first(8) %> <%= @payment.network %></b><br>
Par de troca: <b><%= @payment.endereco %></b><br>
Status da operação: <b><%= exchange_label(@payment.status) %></b>

<% elsif "#{@payment.label.match(/deposit_operation/)}" == "deposit_operation"%>
Tipo: <b><%= exchange_label(@payment.label) %></b><br>
<% if (exchange_label(@payment.label).downcase == "aguardando documento") && @payment.status != "canceled" %>
<font class="red">Utilize a sessão <b>"Depósito bancário"</b> para fazer o upload do comprovante de depósito.</font><br>
<% end %>
Total do depósito: <b><%= @payment.volume %> <%= @payment.network %></b><br>
<% decimal = BigDecimal(@payment.volume,8) %>
Comissão (1%): <b><%= "#{(decimal * 0.01).to_s.split('.')[0]}.#{(decimal * 0.01).to_s.split('.')[1].first(2)} #{@payment.network}" %></b><br>
Valor a ser creditado: <b><%= (decimal - (decimal * 0.01)).to_s.split('.')[0] %>.<%= (decimal - (decimal * 0.01)).to_s.split('.')[1].first(2) %> <%= @payment.network %></b><br>
Status da operação: <b><%= exchange_label(@payment.status) %></b>
<% if @payment.hex != nil %>
Motivo do cancelamento: <%= @payment.hex %>
<% end %>
<% else %>
Tipo: <b><%= @payment.label %></b><br>
Endereço depositado: <b><%= @payment.endereco %></b><br>
Valor total da transação: <b><%= @payment.volume %> <%= @payment.network %></b><br>
Comissão da transação: <b><%= b = BigDecimal(@payment.volume,8) * 0.01 %> <%= @payment.network %></b><br>
Valor total creditado em sua conta: <b><%= BigDecimal(@payment.volume,8) - b %> <%= @payment.network %></b><br>
Txid Hash da transação: <b><%= @payment.txid %></b><br>
Link da transação no blockchain: <a target="_blank" href="<%= @href %><%= @payment.txid%>">Link</a>


<% end %>